.header-container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.dark-mode {
  background-color: rgb(38, 38, 38);
  color: white;
}
.light-mode {
  background-color: #f0f0f0;
  color: rgb(38, 38, 38);
}

.header-container > form {
  display: flex;
  flex-grow: 1;
}

.header-container h1 {
  font-size: 1.3rem;
}

.search-input {
  background-color: white;
  padding: 0.3rem 0.8rem;
  color: black;
  font-size: 0.8rem;
  width: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.search-input::placeholder {
  color: #a0a0a0;
}

.header-btn {
  background-color: white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0.3rem 0.8rem;
  color: black;
  cursor: pointer;
}
