.nav-ul {
  display: flex;
  gap: 0.5rem;
  text-transform: uppercase;
  font-size: 0.6rem;
  margin-top: 0.2rem;
}

.notification-cicle-container {
  position: relative;
  display: inline-block;
}
.notification-cicle {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(64, 129, 254);
  color: white;
  border-radius: 50%;
  padding: 0.2rem 0.4rem;
  font-size: 0.7rem;
  font-weight: bold;
  transform: translate(50%, -50%);
}
