.footer-container {
  font-size: 0.8rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.dark-mode {
  background-color: rgb(38, 38, 38);
  color: white;
}
.light-mode {
  background-color: #f0f0f0;
  color: rgb(38, 38, 38);
}

.footer-details {
  display: flex;
  justify-content: center;
  gap: 6vw;
}

.footer-details li:first-child {
  font-weight: 900;
  margin-bottom: 0.4rem;
}
