.product-details-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  max-width: min(94vw, 55rem);
  margin: 3rem auto;
}

.product-details-container img {
  width: 100%;
  max-width: 20rem;
  height: auto;
}

@media (min-width: 48rem) {
  .product-details-container {
    flex-direction: row;
  }
  .product-details-container img {
    align-self: flex-start;
  }
}

.product-details-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.product-details-description a {
  text-decoration: underline;
  color: gray;
  align-self: flex-end;
}

.product-details-description h2 {
  font-size: 1.5rem;
  font-weight: 900;
}

.product-details-price {
  color: rgb(64, 129, 254);
  font-weight: 900;
}

.product-details-category {
  color: gray;
}

.product-details-btn {
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(64, 129, 254);
  color: white;
  font-weight: 900;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
}

.product-details-btn:hover {
  background-color: rgb(0, 102, 204);
}
